<h1>Restaurantes</h1>
</br>
<table>
    <tr>
        <th> Nombre </th>
        <th> Direccion</th>
        <th> Representante </th>
        <th> Telefono</th>
        <th> Pagina Web </th>
        <th> Descripcion</th>
    </tr>
    <% @restaurante.each do |item| %>
    <tr>
        <td><%= item.nombre %></td>
        <td><%= item.direccion %></td>
        <td><%= item.representante %></td>
        <td><%= item.telefonoRepresentante %></td>
        <td><%= item.direccionUrl %></td>
        <td><%= item.descripcion %></td>
        <td><%= link_to "Editar", edit_restaurante_path(item.id), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to "Mostrar", restaurante_path(item), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Eliminar", restaurante_path(item), method: :delete, data: {confirm: "Seguro desea eliminar?"}, class: "btn btn-xs btn-danger" %></td>
    </tr>
    <%end%>
    <%= link_to 'Añadir nuevo restaurante', new_restaurante_path %>
</table>