<h1>Nuevo punto de entrega añadido!</h1>
<p>
    Nombre: <%= @restaurante.nombre %>
</p>
<p>
    Direccion: <%= @restaurante.direccion %>
</p>
<p>
    Representante: <%= @restaurante.representante %>
</p>
<p>
    Telefono de Contacto: <%= @restaurante.telefonoRepresentante %>
</p>
<p>
    Pagina Web: <%= @restaurante.direccionUrl %>
</p>

<p>
    Descripcion: <%= @restaurante.descripcion %>
</p>
<%= link_to 'Volver al indice de restaurantes', restaurantes_path, class: "btn btn-xs btn-success" %>
<%= link_to 'Editar restaurante', edit_restaurante_path(@restaurante.id), class: "btn btn-xs btn-primary" %>