<h1>Nuevo punto de entrega añadido!</h1>
<p>
    Nombre: <%= @restaurante.nombre %>
</p>
<p>
    Direccion: <%= @restaurante.direccion %>
</p>
<p>
    Representante: <%= @restaurante.representante %>
</p>
<p>
    Telefono de Contacto: <%= @restaurante.telefonoRepresentante %>
</p>
<p>
    Pagina Web: <%= @restaurante.direccionUrl %>
</p>

<p>
    Descripcion: <%= @restaurante.descripcion %>
</p>