<h1>Puntos de Entrega</h1>
</br>
<table>
    <tr>
        <th> Nombre </th>
        <th> Habitantes Beneficiados</th>
        <th> Ubicacion</th>
    </tr>
    <% @puntodeentrega.each do |item| %>
    <tr>
        <td><%= item.nombre %></td>
        <td><%= item.habitantesBeneficiados %></td>
        <td><%= item.ubicacion %></td>
        <td><%= link_to "Editar", edit_puntodeentrega_path(item.id), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to "Mostrar", puntodeentrega_path(item), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Eliminar", puntodeentrega_path(item), method: :delete, data: {confirm: "Seguro desea eliminar?"}, class: "btn btn-xs btn-danger" %></td>
    </tr>
    <%end%>
    <%= link_to 'Añadir nuevo punto de entrega', new_puntodeentrega_path %>
</table>