<h1>Nuevo Punto de Entrega</h1>
<%= render "shared/errors", obj: @puntodeentrega%>
</br>
<h4>Llene por favor la siguiente tabla</h4>

<%= form_for @puntodeentrega do |f| %>
    <p>
        <%= f.label :Nombre %><br/>
        <%= f.text_field :nombre, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>    
    <p>
        <%= f.label :Habitantes_Beneficiados %><br/>
        <%= f.text_field :habitantesBeneficiados, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Ubicacion %><br/>
        <%= f.text_field :ubicacion, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.submit class: "btn btn-primary btn-lg" %>
    </p>
    <%= link_to 'Volver al indice de puntos de entregas', puntodeentregas_path, class: "btn btn-xs btn-success" %>
<%end%>
