<h1>Nuevo punto de entrega añadido!</h1>
<p>
    Nombre: <%= @puntodeentrega.nombre %>
</p>
<p>
    Habitantes Beneficiados: <%= @puntodeentrega.habitantesBeneficiados %>
</p>
<p>
    Ubicacion: <%= @puntodeentrega.ubicacion %>
</p>
<%= link_to 'Volver al indice de puntos de entregas', puntodeentregas_path %>
<%= link_to 'Editar punto de entrega', edit_puntodeentrega_path(@puntodeentrega.id) %>