<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<h1>Ingresar</h1>
				<%= form_for @user do |f| %>
				<p>
                    <%= f.label :Usuario %><br/>
                    <%= f.text_field :user %>
                </p>
                <p>
                    <%= f.label :Contraseña %><br/>
                    <%= f.text_field :contrasena %>
                </p></br>
                <p>                   
                    <%= link_to 'Registrate', pages_registrate_path, class: "btn btn-primary btl-lg" %>
                </p>
                <%end%>
			</div>
		</div>
	</div>		
</header>
<br>
<br>
<%= link_to 'Home', root_path %>

