<header>
	<div class="center jumbotron">
		<h1>Registrate!</h1>
		<br>
		<%= form_for @user do |f| %>
		<p>
            <%= f.label :Nombre %><br/>
            <%= f.text_field :nombre, class: "form-control", placeholder: "Agregar info", autofocus: true %>
        </p>
        <p>
            <%= f.label :Apellido %><br/>
            <%= f.text_field :apellido, class: "form-control", placeholder: "Agregar info", autofocus: true %>
        </p>
        <p>
            <%= f.label :Usuario %><br/>
            <%= f.text_field :usuario, class: "form-control", placeholder: "Agregar info", autofocus: true %>
        </p>
        <p>
            <%= f.label :Contraseña %><br/>
            <%= f.text_field :contrasena, class: "form-control", placeholder: "Agregar info", autofocus: true %>
        </p>
        <p>
            <%= f.label :Empresa %><br/>
            <%= f.text_field :empresa, class: "form-control", placeholder: "Agregar info", autofocus: true %>
        </p>
        <p>
            <%= f.submit class: "btn btn-primary btn-lg" %>
        </p>
		<%end%>
	</div>
</header>
<br>
<br>

