<h1>Editar Recolecta</h1>
<% if @recolectasrealizada.errors.any? %>
    <% @recolectasrealizada.errors.full_messages.each do |mensaje| %>
        <ul>
            <li><%= mensaje %></li>
        </ul>
    <%end%>
<%end%>
</br>
<h4>Llene por favor la tabla</h4>
<%= form_for @recolectasrealizada do |f| %>
    <p>
        <%= f.label :Organizacion_que_donó %><br/>
        <%= f.text_field :organizacion %>
    </p>
    <p>
        <%= f.label :Fecha_de_entrega%><br/>
        <%= f.text_field :fecha %>
    </p>
    <p>
        <%= f.label :Direccion_de_la_Donacion %><br/>
        <%= f.text_field :direccion %>
    </p>
    <p>
        <%= f.label :Cantidad_en_Kilos %><br/>
        <%= f.text_field :cantidadKilos %>
    </p>
    <p>
        <%= f.submit %>
    </p>    
<% end %>
