<h1>Recolectas Realizadas</h1>
</br>
<table>
    <tr>
        <th> Organizacion </th>
        <th> Fecha</th>
        <th> Direccion </th>
        <th> Cantidad en Kilos</th>
    </tr>
    <% @recolectasrealizada.each do |item| %>
    <tr>
        <td><%= item.organizacion %></td>
        <td><%= item.fecha %></td>
        <td><%= item.direccion %></td>
        <td><%= item.cantidadKilos %></td>
        <td><%= link_to "Editar Post", edit_recolectasrealizada_path(item.id) %></td>
        <td><%= link_to "Mostrar Post", recolectasrealizada_path(item) %></td>
    </tr>
    <%end%>
</table>