<h1>Recolectas Realizadas</h1>

<% if @recolectasrealizada.errors.any? %>
    <% @recolectasrealizada.errors.full_messages.each do |mensaje| %>
        <ul>
            <li><%= mensaje %></li>
        </ul>
    <%end%>
<%end%>
</b1>
</br>
<%= form_for @recolectasrealizada do |f| %>
    <p>
        <%= f.label :Organizacion %><br/>

    </p>
    <p>
        <%= f.label :Fecha %><br/>

    </p>
    <p>
        <%= f.label :Direccion_de_Donacion %><br/>

    </p>
    <p>
        <%= f.label :Cantidad_en_Kilos %><br/>

    </p>  
<% end %>
