<h1>Nueva recolecta realizada añadida!</h1>
<p>
    Organizacion a la que representa: <%= @recolectasrealizada.organizacion %>
</p>
<p>
    Fecha de entrega: <%= @recolectasrealizada.fecha %>
</p>
<p>
    Direccion de la Donacion: <%= @recolectasrealizada.direccion %>
</p>
<p>
    Cantidad en Kilos: <%= @recolectasrealizada.cantidadKilos %>
</p>
<%= link_to 'Volver al indice de recolectas realizadas', recolectasrealizadas_path, class: "btn btn-xs btn-success" %>
<%= link_to 'Editar recolecta realizada', edit_recolectasrealizada_path(@recolectasrealizada.id), class: "btn btn-xs btn-primary" %>