<h1>Editar Recolector</h1>
<%= render "shared/errors", obj: @recolectores%>
</br>
<h4>Llene por favor la siguiente tabla</h4>
<%= form_for @recolectore do |f| %>
    <p>
        <%= f.label :Nombre %><br/>
        <%= f.text_field :nombre, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Apellido %><br/>
        <%= f.text_field :apellido, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Telefono %><br/>
        <%= f.text_field :telefono, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Correo %><br/>
        <%= f.text_field :correo, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <%= link_to 'Volver al indice de recolectores', recolectores_path %>
<% end %>
