<h1>Recolectores</h1>
</br>
<table>
    <tr>
        <th> Nombre </th>
        <th> Apellido</th>
        <th> Telefono </th>
        <th> Correo</th>
    </tr>
    <% @recolectore.each do |item| %>
    <tr>
        <td><%= item.nombre %></td>
        <td><%= item.apellido %></td>
        <td><%= item.telefono %></td>
        <td><%= item.correo %></td>
        <td><%= link_to "Editar", edit_recolectore_path(item.id), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to "Mostrar", recolectore_path(item), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Eliminar", recolectore_path(item), method: :delete, data: {confirm: "Seguro desea eliminar?"}, class: "btn btn-xs btn-danger" %></td>
    </tr>
    <%end%>
    <%= link_to 'Añadir nuevo recolector', new_recolectore_path %>
</table>