<h1>Nuevo recolector añadido!</h1>
<p>
    Nombre: <%= @recolectore.nombre %>
</p>
<p>
    Apellido: <%= @recolectore.apellido %>
</p>
<p>
    Telefono: <%= @recolectore.telefono %>
</p>
<p>
    Correo: <%= @recolectore.correo %>
</p>
<%= link_to 'Volver al indice de recolectores', recolectores_path, class: "btn btn-xs btn-success" %>
<%= link_to 'Editar recolector', edit_recolectore_path(@recolectore.id), class: "btn btn-xs btn-primary" %>