
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<h1>Registrate!</h1>
				<br>
				<%= form_for @user do |f| %>
				<p>
                    <%= f.label :Nombre %><br/>
                    <%= f.text_field :nombre %>
                </p>
                <p>
                    <%= f.label :Apellido %><br/>
                    <%= f.text_field :apellido %>
                </p>
                <p>
                    <%= f.label :Usuario %><br/>
                    <%= f.text_field :usuario %>
                </p>
                <p>
                    <%= f.label :Contraseña %><br/>
                    <%= f.text_field :contrasena %>
                </p>
                <p>
                    <%= f.label :Empresa %><br/>
                    <%= f.text_field :empresa %>
                </p>
                <p>
                    <%= link_to 'Crear Cuenta', pages_registrarse_path, class: "btn btn-primary btl-lg" %><br/>                    
                </p>
				<%end%>
			</div>
		</div>
	</div>		
</header>
<br>
<br>

