<h1>Recolectas Pendientes</h1>
</br>
<table>
    <tr>
        <th> Organizacion </th>
        <th> Fecha</th>
        <th> Direccion </th>
        <th> Cantidad en Kilos</th>
    </tr>
    <% @recolectaspendiente.each do |item| %>
    <tr>
        <td><%= item.organizacion %></td>
        <td><%= item.fecha %></td>
        <td><%= item.direccion %></td>
        <td><%= item.cantidadKilos %></td>
        <td><%= link_to "Editar", edit_recolectaspendiente_path(item.id) %></td>
        <td><%= link_to "Mostrar", recolectaspendiente_path(item) %></td>
        <td><%= link_to "Eliminar", recolectaspendiente_path(item), method: :delete, data: {confirm: "Seguro desea eliminar?" } %></td>
    </tr>
    <%end%>
    <%= link_to 'Añadir nueva recolecta pendiente', new_recolectaspendiente_path %>
</table>