<h1>Nueva donacion añadida!</h1>
<p>
    Organizacion a la que representa: <%= @recolectaspendiente.organizacion %>
</p>
<p>
    Fecha de entrega: <%= @recolectaspendiente.fecha %>
</p>
<p>
    Direccion de la Donacion: <%= @recolectaspendiente.direccion %>
</p>
<p>
    Cantidad en Kilos: <%= @recolectaspendiente.cantidadKilos %>
</p>
<%= link_to 'Volver al indice de recolectas pendientes', recolectaspendientes_path, class: "btn btn-xs btn-success" %>
<%= link_to 'Editar recolecta pendiente', edit_recolectaspendiente_path(@recolectaspendiente.id), class: "btn btn-xs btn-primary" %>