<table>
    <tr>
        <th> Titulo </th><th> Descripcion</th>
    </tr>
    <% @posts.each do |item| %>
    <tr>
        <td><%= item.titulo %></td><td><%= item.descripcion %></td>
        <td><%= link_to "Editar Post", edit_post_path(item.id) %></td>
        <td><%= link_to "Mostrar Post", post_path(item) %></td>
        <td><%= link_to "Eliminar Post", post_path(item), method: :delete, data: {confirm: "Seguro desea eliminar?" } %></td>
    </tr>
    <%end%>
    <%= link_to 'Crear nuevo post', new_post_path %>
</table>