<h1>Añadir nuevo Representante</h1>
<%= render "shared/errors", obj: @representante%>
</br>
<h4>Llene por favor la tabla</h4>
<%= form_for @representante do |f| %>
    <p>
        <%= f.label :Nombre %><br/>
        <%= f.text_field :nombre, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Apellido %><br/>
        <%= f.text_field :apellido, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Edad %><br/>
        <%= f.text_field :edad, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Telefono %><br/>
        <%= f.text_field :telefono, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.label :Organizacion %><br/>
        <%= f.text_field :organizacion, class: "form-control", placeholder: "Agregar info", autofocus: true %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <%= link_to 'Volver al indice de representantes', representantes_path %>
<% end %>
