<h1>Nuevo punto de entrega añadido!</h1>
<p>
    Nombre: <%= @representante.nombre %>
</p>
<p>
    Apellido: <%= @representante.apellido %>
</p>
<p>
    Edad: <%= @representante.edad %>
</p>
<p>
    Telefono: <%= @representante.telefono %>
</p>
<p>
    Organizacion: <%= @representante.organizacion %>
</p>